<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  </head>
  <body>
    <h1>***Checkerboard***</h1>
    <div class="body">
      {% for hor in range(0,y): %}
      <div class="boxes">
        {% for ver in range(0,x): %} {% if hor %2 == 0 and ver % 2 ==0 or hor %
        2 == 1 and ver % 2 ==1%}
        <div style="background-color:{{color1}};" class="box1"></div>
        {% else %}
        <div style="background-color:{{color2}};" class="box1"></div>
        {% endif %} {% endfor %}
      </div>
      {% endfor %}
    </div>
  </body>
</html>
